.main {
  width: 600px;
  height: 600px;
  background-color: red;
  display: flex;
  flex-direction: column;
  &__block-1 {
    width: 100%;
    height: 90%;
    background-color: sandybrown;
    display: flex;
    align-items: center;
  }
  &__block-2 {
    width: 100%;
    height: 10%;
    background-color: saddlebrown;
    display: flex;
  }
}

.main-content {
  &__block-A {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    background-color: green;
  }
  &__square-containter {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: yellow;
  }
  &__single-block {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-color: black;
    border-width: 1em;
  }
  &__block-B {
    width: 30%;
    height: 40%;
    display: flex;
    background-color: greenyellow;
  }
}
